body{
  background-image: url(../img/fondo3.jpg);
  background-size: cover;
}

@media  (min-width:300px) and (max-width:720px){
  body{
    background-image: url(../img/fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
}

.grid-container{
  background-color: #ffcccc; opacity: 0.8
}
