body{
  background-color: black;
}

figcaption{
  display: none
}

#logo{
  width: 25%;
  margin: auto;
  padding: 10px;
}

@media (min-width: 300px) and (max-width: 720px)/*móvil*/{
  #logo{
    width: 25%;
    display: block;
    padding-top: 10px;
  }
}

#redes_sociales{
  display: flex;
  flex-flow: row;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#redes_sociales img{
  width: 100%;
  padding: 10px;
  border: none;
  padding-top: 10px;
  display: flex;
}

#logo_twitter{
  border-radius: 30px 30px 30px 30px;
}

@media (min-width: 300px) and (max-width: 720px)/*móvil*/{
  #redes_sociales{
    display:block;
  }

  #redes_sociales img{
    width: 15%;
  }

  #logo_twitter{
    width: 15% !important;
  }
}

nav{
  border-radius: 15px
}
