body{
  background-color: black;
}

figcaption{
  display: none
}

#nav_items a{
  color: black;
  background: white;
    border-radius: 15px;
}

li{
  background: white;
  border-radius: 15px;
}

#logo{
  top: 10px;
  width: 20%;
  margin: auto;
  padding: 10px;
}

@media (min-width: 300px) and (max-width: 720px)/*móvil*/{
  #logo{
    width: 25%;
    display: block;
    padding-top: 10px;
  }
}

#redes_sociales{
  bottom: 0px;
  right: 0px;
  top: 70px;
}

#redes_sociales img{
  width: 80%;
  padding: 10px;
  border: none;
  padding-top: 10px;
  bottom: 0px;
  right: 0px;
}

#logo_twitter{
  border-radius: 30px 30px 30px 30px;
}

@media (min-width: 300px) and (max-width: 720px)/*móvil*/{
  #redes_sociales{
    display:block;
    bottom: 0px;
    left: 145px;
    top: 0px;
  }

  #redes_sociales img{
    width: 15%;
  }

  #logo_twitter{
    width: 15% !important;
  }
}

nav{
  background: black;
  border-radius: 15px;
  display: flex;
  align-content: space-between;
}

section div{
  border: solid 1px white;
  padding: 10px;
  border: collapse !important;
  border-radius: 15px;
}







footer{
  color: black;
  background-color: white;
  border-radius: 15px;
  text-align: center;
}
